@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		color: $color;
		background-color: darken($background, 10%);
        border-color: darken($border, 12%);
	}
	&:active,
	&.active,
	.open .dropdown-toggle& {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin hr-mixin($icon-unicode, $before-bg-color, $after-bg-color) {
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 30px;
	border-color: $before-bg-color;
	&:after {
		background-color: $after-bg-color;
		color: $before-bg-color;
		content: $icon-unicode;
		font-family: FontAwesome;
		display: inline-block;
		position: relative;
		top: -0.8em;
		font-size: 2em;
		padding: 0 0.25em;
	}
}
